<div class="">
    <img src="../../../assets/picture/home.png" alt="Notebook">

    <div class="content">
        <h1>Kontrola verzije izgradnje softvera</h1>
        <br>
        <p>
            U danasnje vrijeme izgradnja softvera zahtjeva veliku brzinu izgranje softvera kao
            kao i integraciju vese osoba u razvoju jednog programa. Da bi smo obezbejdili sto
            efikasniji i sto laksi nacin izgradnje proizvoda mi proizvod mozemo podjeliti u manje
            cijeline i podjeliti zadatke zaposlenima. Tu nastupa GitUKS da Vam pomogne u razvoju 
            softvera. 
        </p>

        <div class="login">
            <h3>Zato se odma registrujte i zapocnite sa svim pogodnostima!</h3>
            <button type="button" class="btn btn-success">Ulogijte se</button>
        </div>
    </div>
</div>