<div class="">
    <img src="{{imgUrl + 'home.png'}}" alt="Notebook">

    <div class="content">
        <h1>Version Control Software</h1>
        <br>
        <p>
            Nowadays building software requires high speed software construction as well as
            the integration of a skilled person in developing a program. In order to provide
            the most efficient and the easiest way to build product, we can divide the product
            into smaller units and divide the tasks into employees. This is where GitUKS comes
            in to help you develop software.
        </p>

        <div class="login">
            <h3>So register now and start with all off the GitUKS benefits!</h3>
            <button type="button" [routerLink]="['/login']" class="btn btn-success">Log in now</button>
        </div>
    </div>
</div>