.h-100 {
    height: 100%;
}

.issues {
    width: 100%;
    height: 50px;
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-100.h-100.float-left {
    font-size: 12px;
}

.number {
    font-size: 12px;
}

.min-width {
    min-width: 200px;
}