.h-100 {
    height: 100%;
}

.issues {
    width: 100%;
    height: 50px;
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-100.h-100.float-left {
    font-size: 12px;
}

.number {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 2px;
    font-size: 8px;
    background-color: #eee;
}