<div class="container mt-3">
    <div class="d-flex justify-content-center  mb-3">
        <div class="col-sm-5 p-2 reg-bord" *ngIf="!isLogin">
            <h3>Ulogujte se</h3>
            <p class="red-text" *ngIf="message !== null">Sifra ili lozinka nisu ispravni.</p>

            <form>
                <div class="form-group">
                    <label for="password"class="w-100">Email</label>
                    <input type="text" class="form-control" name="email" id="email" [(ngModel)]="login.email" placeholder="Unesite email">

                    <label for="password"class="w-100">Sifra</label>
                    <input type="password" class="form-control" name="password" id="password" [(ngModel)]="login.password" placeholder="Unesite sifru">
                </div>
                
                <button type="submit" class="btn btn-primary margin-top float-right" (click)="ngLogin()">Ulogujte se</button>
            </form>
        </div>

        <div class="col-sm-5 p-2 reg-bord" *ngIf="isLogin">
            <h3>Login ...</h3>
        </div>
    </div>
</div>