<div class="container mt-3">
    <div class="d-flex justify-content-center  mb-3">
        <div class="col-sm-5 p-2 reg-bord">
            <h3>Registration form</h3>
            <form>
                <div class="form-group">
                    <label for="username" class="w-100">First name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName"
                        [(ngModel)]="login.firstName" placeholder="First name...">

                    <label for="password" class="w-100">Last name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="login.lastName"
                        placeholder="Last name...">

                    <label for="password" class="w-100">Email</label>
                    <input type="text" class="form-control" name="email" id="email" [(ngModel)]="login.email"
                        [ngClass]="isEmail" placeholder="Email...">

                    <label for="password" class="w-100">Password</label>
                    <input type="password" class="form-control" name="password" id="password"
                        [ngClass]="isPasswordColor" [(ngModel)]="login.password" placeholder="Password...">

                    <label for="password" class="w-100">Confirm password</label>
                    <input type="password" class="form-control" name="aggainPassword" id="aggainPassword"
                        [ngClass]="isPasswordColor" [(ngModel)]="login.aggainPassword"
                        placeholder="Confirm password...">
                </div>

                <button type="submit" class="btn btn-primary margin-top float-right" (click)="ngRegistration()">Register
                    <span *ngIf="isSpiner">
                        <div class="spinner-border text-success" style="width: 1rem; height: 1rem;"></div>
                    </span></button>
            </form>
        </div>
    </div>
</div>