<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Registrujte se</h3>
        </div>
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <label for="username"class="w-100">Ime</label>
                    <input type="text" class="form-control" name="firstName"id="firstName" [(ngModel)]="login.firstName" placeholder="Unesite ime">

                    <label for="password"class="w-100">Prezime</label>
                    <input type="password" class="form-control" name="lastName" id="lastName" [(ngModel)]="login.lastName" placeholder="Unesite prezime">
                </div>
                
                <button type="submit" class="btn btn-primary margin-top float-right w-25">Login</button>
            </form>
        </div>
    </div>
</div> -->

<div class="container mt-3">
    <div class="d-flex justify-content-center  mb-3">
        <div class="col-sm-5 p-2 reg-bord" *ngIf="!isRegistration">
            <h3>Registrujte se</h3>
            <p class="red-text" *ngIf="isMessage">Nismo uspjeli da sacuvamo mase podatke. Problem {{textMessage}}.</p>
            <form>
                <div class="form-group">
                    <label for="username"class="w-100">Ime</label>
                    <input type="text" class="form-control" name="firstName"id="firstName" [(ngModel)]="login.firstName" placeholder="Unesite ime">

                    <label for="password"class="w-100">Prezime</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="login.lastName" placeholder="Unesite prezime">

                    <label for="password"class="w-100">Email</label>
                    <input type="text" class="form-control" name="email" id="email" [(ngModel)]="login.email" placeholder="Unesite email">

                    <label for="password"class="w-100">Sifra</label>
                    <input type="password" class="form-control" name="password" id="password" [(ngModel)]="login.password" placeholder="Unesite sifru">

                    <label for="password"class="w-100">Ponovite sifru</label>
                    <input type="password" class="form-control" name="aggainPassword" id="aggainPassword" [(ngModel)]="login.aggainPassword" placeholder="Ponovo unesite sifru">
                </div>
                
                <button type="submit" class="btn btn-primary margin-top float-right" (click)="ngRegistration()">Registrujte se</button>
            </form>
        </div>

        <div class="col-sm-5 p-2 reg-bord" *ngIf="isRegistration">
            <h3>Cuvanje podataka</h3>
            <div *ngIf="isSpiner">
                <div class="spinner-grow text-muted"></div>
                <div class="spinner-grow text-primary"></div>
                <div class="spinner-grow text-success"></div>
                <div class="spinner-grow text-info"></div>
                <div class="spinner-grow text-warning"></div>
                <div class="spinner-grow text-danger"></div>
                <div class="spinner-grow text-secondary"></div>
                <div class="spinner-grow text-dark"></div>
                <div class="spinner-grow text-primary"></div>
                <div class="spinner-grow text-success"></div>
                <div class="spinner-grow text-info"></div>
                <div class="spinner-grow text-warning"></div>
            </div>
            
            <div *ngIf="!isSpiner || isMessage">
                <p style="text-align: center; color: green;">Uspjesno ste sacuvali podatke</p>
            </div>
        </div>
    </div>
</div>