.cursor {
    cursor: pointer;
}

.w-5 {
    width: 5px;
}

.tdw-1 {
    width: 95%;
}

.tdw-2 {
    width: 47%;
}

.tdw-3 {
    width: 31%;
}

.tdw-4 {
    width: 23%;
}

.tdw-5 {
    width: 19%;
}

.tdw-6 {
    width: 15%;
}

.tdw-7 {
    width: 13%;
}

.tdw-auto {
    width: auto;
}