<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand cursor-pointer" [routerLink]="['/login']">GitUKS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" style="width: 45px; height: 45px; border-radius: 50%; background-color: #fff;"
                *ngIf="_isLogin()">
                <a class="nav-link" [routerLink]="['/user/' + userID]"> <img src="{{imgUrl + 'avatar.png'}}"
                        width="100%" height="100%"> </a>
            </li>
            <li class="nav-item" *ngIf="!_isLogin()">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item" *ngIf="!_isLogin()">
                <a class="nav-link" [routerLink]="['/registration']">Registration</a>
            </li>
            <li class="nav-item" *ngIf="_isLogin()">
                <a class="nav-link click" (click)="ngLogOut()">Odjavite se</a>
            </li>
        </ul>
    </div>
</nav>