.image-style {
    border-radius: 50%;
    border: 1px solid #ccc;
}

.height-100 {
    height: 100px;
}

.border-radius {
    border-radius: 10px;
}

@media only screen and (min-width: 992px) {
    .image-style {
        height: 300px;      
    }
    .image-style img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;  
    }
}