<div class="w-100 pb-2 pl-1 pr-1" *ngIf="tabName !== null">
    <div class="float-left w-70" *ngIf="!spiner">


        <div class="sidebar" style="float:left; position: unset!important;">
            <a class="cursorBlue" (click)="tabName = 'options'" [ngClass]="{'sidebar-active': tabName === 'options'}"
                *ngIf="isOwner">Options</a>
            <a class="cursorBlue" (click)="tabName = 'access'"
                [ngClass]="{'sidebar-active': tabName === 'access'}">Manager access</a>
        </div>

        <div class="content w-100 color-text" *ngIf="tabName === 'options' && isOwner">
            <div class="float-left w-100 h-45 border-bottom">
                <h3>Settings</h3>
            </div>
            <div class="float-left w-100 pt-2">
                <span>Repository name </span>
                <div class="w-100 float-left h-35pi pt-2">
                    <input type="text" class="float-left form-control h-35pi font-20 color-green bold w-50" name="name"
                        id="name" [(ngModel)]="project.name">
                    <button type="submit" class="btn btn-primary margin-top h-35pi float-right button"
                        (click)="updateNameProject()">Update name</button>
                </div>
            </div>

            <div class="w-100 float-left mt-3 pt-4">
                <span>Repository status</span>
                <div class="float-left w-100 pt-2">
                    <div class="form-check float-left w-25">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="typeProject" id="typeProject"
                                [(ngModel)]="project.typeProject" [value]="false">Global project
                        </label>
                    </div>

                    <div class="form-check float-left w-25">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="typeProject" id="typeProject"
                                [(ngModel)]="project.typeProject" [value]="true">Private project
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary margin-top h-35pi float-right button"
                        (click)="updateTypeProject()">Update type</button>
                </div>
            </div>
        </div>

        <div class="content w-100 color-text" *ngIf="tabName === 'access'">
            <div class="float-left w-100 h-45 border-bottom">
                <h3 class="float-left w-50">Manager access</h3> <input type="text" class="form-control w-50 float-right"
                    [(ngModel)]="searchText" (input)="filter()" placeholder="Add user" />
            </div>

            <div *ngIf="settings !== null">
                <app-generig-table [settings]="settings" (emit)="onEmitClose($event)"></app-generig-table>
            </div>
        </div>
    </div>

    <div *ngIf="spiner">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-1 mx-auto">
                    <div class="spinner-border text-success"></div>
                </div>
            </div>
        </div>
    </div>
</div>